body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    color: #fff;
}


header {
    background: rgba(0, 0, 0, 0.8); 
    color: rgb(255, 255, 255);
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 10px; 
}

.project {
    border: 1px solid #000000;
    padding: 1em;
    margin: 1em 0;
    background-size: cover; 
    background-position: center; 
    color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.project:hover {
    transform: translateY(-5px); 
}

.project1 {
    background-color: #000;
}

.project2 {
    background-image: url('https://cdn.icon-icons.com/icons2/2367/PNG/512/zendesk_icon_143473.png'); 
}

.project3 {
    background-image: url('https://i.pinimg.com/originals/ae/b3/64/aeb364b00e95e91cbed514ae1b8df9a3.gif'); 
}

.project4 {
    background-image: url('https://i.pinimg.com/originals/ae/b3/64/aeb364b00e95e91cbed514ae1b8df9a3.gif'); 
}


footer {
    background: rgba(0, 0, 0, 0.8); 
    color: white;
    text-align: center;
    padding: 1em 0;
}



section p {
    opacity: 0; 
    transform: translateY(20px); 
    transition: all 0.5s ease; 
}

section p.animate {
    opacity: 1; 
    transform: translateY(0); 
}

#home h1 {
    display: inline-block;
    border-right: 2px solid; 
    animation: blink-caret .75s step-end infinite; 
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

#poetic-paragraph {
    font-family: 'Great Vibes', cursive; 
    font-size: 2.5em; 
    color: #fff; 
}

#welcome-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    position: relative; 
    overflow: hidden; 
    padding: 20px; 
}

#welcome-message {
    display: inline-block;
    border-right: 2px solid; 
    animation: blink-caret .75s step-end infinite; 
    flex-grow: 1; 
    margin-right: 20px; 
}

#welcome-gif {
    width: 300px; 
    height: auto;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

#tech-watch {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.7); /* Arrière-plan semi-transparent pour une meilleure lisibilité */
    border-radius: 10px; /* Coins arrondis pour un look moderne */
    text-align: center;
}

#intro-paragraph {
    font-family: 'Great Vibes', cursive; 
    font-size: 1.5em; 
    color: #fff; 
    margin-top: 20px; 
}

.article {
    border: 1px solid #000000;
    padding: 1em;
    margin: 1em 0;
    background: rgba(0, 0, 0, 0.8); /* Arrière-plan semi-transparent pour une meilleure lisibilité */
    color: #000; /* Couleur du texte */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    transition: transform 0.3s ease; 
}

.article:hover {
    transform: translateY(-5px); 
}

.container {
    max-width: 760px;
    width: 100%;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(26, 26, 26, 0.1); /* Optionnel : ajoute une ombre */ 
}
  
  .container .skill-box {
    width: 100%;
    margin: 25px 0;
    position: center;
  }
  
  .skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
  }
  
  .skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
  }
  
  .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #000000;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }
  
  .skill-per.html {
    width: 50%;
    animation-delay: 0.1s;
  }
  
  .skill-per.css {
    width: 70%;
    animation-delay: 0.1s;
  }
  
  .skill-per.javascript {
    width: 50%;
    animation-delay: 0.2s;
  }
  
  .skill-per.nodejs {
    width: 30%;
    animation-delay: 0.3s;
  }
  
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }   
  }
  
  .skill-per .tooltip {
    position: center;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
  }
  
  .tooltip::before {
    content: '';
    position: center;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
  }

.form-container {
    width: 800px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  #sort-by-utility {
    background-color: #4070f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1em;
}

#sort-by-utility:hover {
    background-color: #3358a0;
}

  
  
  